@charset "utf-8";
body{
    margin:0;
    padding:0;
    font-family:"ヒラギノ角ゴ　pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	color: #333;
	font-size: 13px;
	line-height: 150%;
	
}
/*---------------------------------wrapper-----------------*/
#wrapper{
    width: 100%;
    margin: auto;
    padding: 0px;
    border: 0px;
    background-color: #FFF;
    top:10px;
    position:relative;
}
/*----------------------------------header-------------------*/
#header{
    width: 100%;
}
#header h1{
        margin: 0;
        padding:0;
    }
    #corridor{
        width:100%;
        height:auto;
    }
    /*-------------------------footer-----------------------*/
    #footer{
        clear:both;
        width:100%;
        paddibg: 3px 0 3px 0;
        background: #39F;
        color: #FFF;
        font-weight:bold
        text-align: center;
    }
    /*--------------------------navi-------------------------*/
    #nav{
        width: 100%;
    }
    #nav ul {
        margin: 0;
        padding: 0;
        list-style-type:none;
    }
    #nav ul li{
        float: left;
        width: 20%;
        text-align: center;
    }
    #nav ul li a{
        display: block;
        height: 20px;
        margin: 0;
        padding: 10px;
        color: ##FFF;
        font-size:20px;
        text-decoration:none;
        background-color:green;
        border-left: 1px solid white;
    }